<% if(success && success.length) { %>
<div class="alert alert-success alert desmissible fade show" role="alert">
  <%= success %>
  <button
    type="button "
    class="btn-close"
    date-bs-dismiss="alert"
    date-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %> <% if (error && error.length) { %> <%= error %>
<div class="alert alert-danger alert desmissible fade show" role="alert">
  <button
    type="button "
    class="btn-close"
    date-bs-dismiss="alert"
    date-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %>
